In [1]:
import pandas as pd

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
 data.describe()

count    4.000000
mean     0.625000
std      0.322749
min      0.250000
25%      0.437500
50%      0.625000
75%      0.812500
max      1.000000
dtype: float64

In [9]:
data.plot()

In [12]:
data=pd.Series([[1,2,3],[1,2,8],[0,9,0]],index=['a','b','c'])

In [13]:
data

a    [1, 2, 3]
b    [1, 2, 8]
c    [0, 9, 0]
dtype: object

In [14]:
a = pd.Index([1, 3, 5, 7, 9])
b = pd.Index([2, 3, 5, 7, 11])

In [15]:
print(a&b) #intercection

Int64Index([3, 5, 7], dtype='int64')

In [16]:
print(a|b) #union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [17]:
print(a^b) #difference

Int64Index([1, 2, 9, 11], dtype='int64')

In [18]:
##Data Frame

In [22]:
import numpy as np

myarray = np.arange(36).reshape(6,6)

In [23]:
myarray

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [24]:

rownames = ['a', 'b','c','d','e','f']
colnames = ['one', 'two', 'three','four','five','six']

df = pd.DataFrame(myarray, index=rownames, columns=colnames)

In [25]:
df

   one  two  three  four  five  six
a    0    1      2     3     4    5
b    6    7      8     9    10   11
c   12   13     14    15    16   17
d   18   19     20    21    22   23
e   24   25     26    27    28   29
f   30   31     32    33    34   35

In [27]:
df['one']

a     0
b     6
c    12
d    18
e    24
f    30
Name: one, dtype: int32

In [28]:
w = pd.Series({'a':1 ,'b':2 ,'c':3 ,'d':4 ,'e':5})
x = pd.Series({'a':6 ,'b':7 ,'c':8 ,'d':9 ,'e':10})
y = pd.Series({'a':11 ,'b':12 ,'c':13 ,'d':14 ,'e':15})
z = pd.Series({'a':16 ,'b':17 ,'c':18 ,'d':19 ,'e':20})


grades = pd.DataFrame({'Math':w,'Physics':x,'French':y,'Chemistry':z})

In [29]:
grades

   Math  Physics  French  Chemistry
a     1        6      11         16
b     2        7      12         17
c     3        8      13         18
d     4        9      14         19
e     5       10      15         20

In [30]:
grades.values

array([[ 1,  6, 11, 16],
       [ 2,  7, 12, 17],
       [ 3,  8, 13, 18],
       [ 4,  9, 14, 19],
       [ 5, 10, 15, 20]], dtype=int64)

In [32]:
print(grades.stack)

<bound method DataFrame.stack of    Math  Physics  French  Chemistry
a     1        6      11         16
b     2        7      12         17
c     3        8      13         18
d     4        9      14         19
e     5       10      15         20>

In [33]:
grades.loc['a':'d','Math':'Chemistry':2]

   Math  French
a     1      11
b     2      12
c     3      13
d     4      14

In [34]:
print(grades.iloc[:, ::2])

   Math  French
a     1      11
b     2      12
c     3      13
d     4      14
e     5      15

In [41]:
grades.loc[(grades.Math>3) & (grades.Chemistry>0)]

   Math  Physics  French  Chemistry
d     4        9      14         19
e     5       10      15         20